.img{
  height: 285%;
}
.topNav{
  background-color: #FFFFFF;
}
.rightLink{
  padding-top:27px;

}
.contactLI{
  display: block;
}
.navbar{
  margin:0;
}
.toplink{
  color: #8B8B8B;
  font-weight: bold;
}
#navInput{
  width: 135%;
}
#searchBar{
  padding-left: 5.3%;
}
/*CHANGE NAV COLORS*/
.navbar-toggle{
  background: black;
}
.navbar-toggle .icon-bar{
  background:green;
}
#searchBtn{
  text-shadow: none;
  border: none;
  background: none;
  background-color: #297377;
  color: white;
  width: 100px;
  height: 33px;
  border-radius: 0;
  margin-left: 77px;
}
#secondNav{
  /*margin:0 4%;*/
  background-color: #AAAAAA;
}
.navbar-default .navbar-nav>li>a{
  color:white;
  text-decoration: underline;
}
.jumbotron{
  padding:0;
}
#realtor{
  max-width: 100%;
  max-height: 100%;
}

#realtorImage{
  height: 34vh;
  border: dotted green

}
#middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: dotted;
  height: 34vh;
}
#right{
  border: dotted blue;
  height:34vh;
}
.ContactMeBtn{
  margin:0 auto;
}
#jumboContact{
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.facebook{
  list-style-image: url('./Assets/SVGs/facebook.svg');
}
.linkedin{
  list-style-image: url('./Assets/SVGs/linkedin.svg');
}
.twitter{
  list-style-image: url('./Assets/SVGs/twitter.svg');
}
.youtube{
  list-style-image: url('./Assets/SVGs/youtube.svg');
}
.insta{
  list-style-image: url('./Assets/SVGs/instagram.svg');
}*/*/
